* {
    margin: 0%;
    padding: 0%;
}

body {
    padding-top: 100px;
    padding-bottom: 40px;
}

#main-header {
    color: white;
    height: 60px;
    width: 100%;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
}

#main-header a {
    color: white;
    text-decoration: none;
}

body,
.background {
    background: linear-gradient(to right, rgba(2, 102, 189, 1) 0%, rgba(2, 102, 189, 1) 1%, rgba(32, 124, 229, 1) 38%, rgba(7, 126, 230, 1) 55%, rgba(73, 155, 234, 1) 86%, rgba(73, 155, 234, 1) 100%);
}

.content-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-header {
    float: left;
    padding: 10px 0 0 10px;
}

#logo-header:hover {
    font-weight: bold;
}

#logo-header .site-name {
    display: block;
    font-size: 1.4em;
}

#search-bar {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    max-width: 600px;
    width: 80%;
    margin: 10px auto;
    padding: 5px 0px;
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    z-index: 50;
    background: white;
}

input[type=text] {
    width: 80%;
    border-radius: 10px 0px 0px 10px;
    height: 24px;
}

input[type=text],
#search {
    padding: 1px 5px;
    border: none;
    outline: none;
}

#search {
    background: white;
    border-radius: 0px 10px 10px 0px;
}

#search:hover {
    cursor: pointer;
}

#welcome {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 0;
}

#start {
    border: white solid 5px;
    background: none;
    padding: 15px;
    color: white;
    border-radius: 30px;
    font-size: large;
    width: 150px;
}

#start:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-weight: bold;
}

#main-content {
    width: 95%;
    max-width: 800px;
    padding: 10px 0px;
    margin: 30px auto;
    border-radius: 20px;
}

h2 {
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
}

.block {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.25s;
    border-radius: 20px 20px 20px 20px;
    background: white;
    border: rgba(0, 0, 0, 0.226) 1px solid;
}

.block:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.detail-link {
    display: block;
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    color: white;
    border-radius: 20px 20px 20px 20px;
}

.detail-link:hover {
    font-weight: bold;
    cursor: pointer;
}

ul {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
}

.header {
    border-bottom: #b6b5b5 solid 2px;
}

li {
    display: inline-block;
}

.header-digits {
    font-weight: bold;
}

.digits {
    text-align: right;
}

#modal-container {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
}

#details {
    margin: 15% auto;
    background: white;
    width: 80%;
    max-width: 700px;
    border-radius: 20px 20px 20px 20px;
    z-index: 100;
}

table {
    margin: auto;
    padding: 10px 15px;
}

table td:nth-child(2) {
    font-weight: 700;
}

#close {
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 15px;
    border-radius: 0px 0px 20px 20px;
}

#main-footer {
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#main-footer div {
    margin: auto;
    text-align: center;
}

#main-footer a {
    color: white;
    text-decoration: none;
}

.normal-link {
    display: block;
    margin: auto;
    text-align: center;
    color: white;
    padding: 5px;
    width: 30%;
    text-decoration: none;
    border-radius: 20px;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.normal-link:hover {
    text-decoration: underline;
    font-weight: bold;
}